*.font: xft:Space Mono For Powerline:pixelsize=10

Xft.dpi:                        96
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb

URxvt*termName:                 rxvt-256color
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           10
URxvt.perl-ext:	 		default,matcher,resize-font,clipboard,keyboard-select
URxvt.url-launcher:             firefox
URxvt.matcher.button: 		1
URxvt.font: xft:Space Mono For Powerline:pixelsize=13


URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! Clipboard
URxvt.keysym.Shift-Alt-V: eval:paste_clipboard
URxvt.keysym.Shift-Alt-C: eval:selection_to_clipboard

URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger
7aa1dc
*.foreground:   #f2f2f2
*.background:   #252828
*.cursorColor:  #00bbff

! black
*.color0:       #4f4858
*.color8:       #545d67

! red
*.color1:       #c05c47
*.color9:       #237dbc

! green
!*.color2:       #428e8e
*.color2:       #2cba57
*.color10:      #afda6e

! yellow
*.color3:       #e4b226
*.color11:      #ebcf1a

! blue
*.color4:       #00bbff
*.color12:      #00bbff

! magenta
*.color5:       #903a62
*.color13:      #9568a1

! cyan
*.color6:       #7aa1dc
*.color14:      #abbcda

! white
*.color7:       #c4b7c5
*.color15:      #ffeefc
